packages:
  yum:
    libjpeg-turbo-devel: []
    libpng-devel: []
    amazon-linux-extras: []
    freetype-devel: []
    git: []
    # MySQL-python: []
    mariadb-devel: []
    # puppeteer dependencies
    # libXcursor.x86_64: []
    # libXdamage.x86_64: []
    # libXinerama.x86_64: []
    # cups-libs.x86_64: []
    # libXrandr.x86_64: []
    # pango.x86_64: []
    # cairo.x86_64: []
    # cairo-gobject.x86_64: []

groups:
  celery:
    gid: "101"

commands:
  #01_install_node:
  #  cwd: /tmp
  #  test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
  #  command: 'yum install -y nodejs npm --enablerepo=epel'
  01_postgres_activate:
    command: sudo amazon-linux-extras enable postgresql10
  02_postgres_install:
    command: sudo yum install -y postgresql-devel
  03_pip_upgrade:
    command: /usr/local/bin/pip3 install --upgrade pip
    ignoreErrors: false
  # TODO it seems we no need node now?
  #04_updatenode:
  #  command: "curl -sL https://rpm.nodesource.com/setup_8.x | bash -"
  #05_updatenode:
  #  command: "yum remove -y nodejs && yum install -y nodejs --enablerepo=nodesource"
  06_add_user_celery:
    test: test ! "`id -u celery 2> /dev/null`"
    command: sudo useradd -d /opt/python/celery -g celery -u 1501 celery
    ignoreErrors: true

# it seems that following doesn't work (ebs replaced wsgi.conf with original one)
#files:
#    "/opt/elasticbeanstalk/hooks/appdeploy/post/99_add_valid_host_wsgi.sh":
#        mode: "000755"
#        owner: root
#        group: root
#        content: |
#            #!/usr/bin/env bash
#           # echo posthook >> /tmp/1.txt
#            cp /opt/python/current/app/.platform/httpd/conf.d/wsgi.conf /etc/httpd/conf.d/wsgi.conf
#            /usr/local/bin/supervisorctl -c /opt/python/etc/supervisord.conf restart httpd